@import url("estilos/nav.css");
@import url("estilos/cabecalho.css");
@import url("estilos/metricas.css");
@import url("estilos/talentos.css");
@import url("estilos/vagas.css");
@import url("estilos/depoimento.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }









:root {
    --bordo:#8E2424;
    --cinza:#667085;
    --cinza-escuro:#3A404E;
    --font-principal: 'Inter', sans-serif;

      

}