@import url("estilos/header.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
  }









:root {
    --bordo:#8E2424;
    --cinza:#667085;
    --cinza-escuro:#3A404E;
    --font-principal: 'Inter', sans-serif;

      

}