.metricas__container {
    display: flex;
    justify-content: center;
    
}

.metricas__container-item {
    padding: 1em 3em 1em 3em;
}


.metricas__container-item h1{
    font-size: 60px;
    color: var(--bordo);
    margin-bottom: 0.3em;

}

.metricas__container-item span {
    font-size: 18px;
    color: #101828;
    font-weight: 500;
    margin-bottom: 2em;
    
}

.metricas__container-item p {
    color: var(--cinza);
    
}