.talentos {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 96px 305px;
    gap: 24px
}


.talentos__informacao {
    font-weight: 600;
    color: var(--bordo);
}

.talentos__titulo {
    font-size: 36px;
    font-weight: 600;
    color:#101828 ;
}


.talentos__texto {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    color: var(--cinza);
    margin-bottom: 2em;
}